<span>{{name}}hg</span>bn  v
{{#link-to "view-user" userId}}<button class="button">View Details</button>{{/link-to}}
{{!-- <LinkTo @route="view-user" @model={{@userId}}><button class="button">View Details</button></LinkTo> --}}