<h2>{{uppercase 'Dashboard'}}</h2>
<div>
    <div class="panel">
        <div class="panel-body">
            {{#link-to "users"}}User List{{/link-to}}
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            {{#link-to "ddau"}}DDAU{{/link-to}}
        </div>
    </div>
</div>
{{!-- <div>
    <div class="panel">
        <div class="panel-body">
            <LinkTo @route="users">User List</LinkTo>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <LinkTo @route="ddau">DDAU</LinkTo>
        </div>
    </div>
    
</div> --}}
